<h3> 1. Basic idea of lambda
<h5>In AI/ML, lambdas are mostly used for data preprocessing, 
feature transformation, and inline logic.

In [1]:
square = lambda x: x*x
print(square(5))

25

<h4> 2. Lambda with map() – feature transformation
<h5> Example: Normalize a feature list

In [14]:
values = [5,7,8,9]
scaled = list(map(lambda x:x/10, values))
scaled
# Used in ML when scaling or transforming features.

[0.5, 0.7, 0.8, 0.9]

<h3>3. Lambda with filter() – data cleaning
<h4>Example: Remove invalid data points

In [13]:
data = [1, 34, -1, None, 34,0, -5]

list(filter(lambda x: x is not None and x>0, data))
# Very common in preprocessing pipelines.

[1, 34, 34]

#### 4. Lambda with `sorted()`: Sorting by Model Scores

###### Example: Sort Predictions by Confidence Score

In [12]:
prediction = [
    ("cat",0.82),
    ("dog",0.95),
    ("bird",0.76)
]
sorted(prediction,key = lambda x: x[1], reverse=False)
# Used in classification outputs.

[('bird', 0.76), ('cat', 0.82), ('dog', 0.95)]

#### 5. Lambda with NumPy - vectorized ML operations

In [17]:
import numpy as np
X = np.array([1,2,3,4])

relu = lambda x: np.maximum(0,x)
    
print(relu(X))
# Lambda used to define activation functions quickly.

[1 2 3 4]

#### 6. Lambda as activation function (neural networks – concept level)

In [20]:
sigmoid = lambda x : 1/(1+np.exp(-x))
print(sigmoid(0))
print(sigmoid(2))
print(sigmoid(10))

0.5
0.8807970779778823
0.9999546021312976

#### 7. Lambda with Pandas - feature engineering

In [27]:
import pandas as pd

df = pd.DataFrame({
    "age":[18,25,40,45],
    "Salary":[100,200,300,800]
})
df['age_group'] = df['age'].apply(
        lambda x: "Young" if x<30 else 'Adult'
)
df['net_worth'] = df['Salary'].apply({
    lambda x: 'High' if x >200 else 'Low'
})
df

   age  Salary age_group net_worth
0   18     100     Young       Low
1   25     200     Young       Low
2   40     300     Adult      High
3   45     800     Adult      High

#### 8. Lambda for label encoding

In [30]:
labels = ['spam','ham','rak','spam','tel','ham']

encoding = list(map(lambda x: 1 if x=='spam' else 0, labels))
encoding
# Using before feeding labels to ML models.

[1, 0, 0, 1, 0, 0]

#### 9. Lambda inside a custom loss calculation

In [37]:
y_true = [1,1.2,0.55,0.12]
y_pred = [1.01,1.22,0.80,0.20]

loss = list(map(lambda y_t,y_p : (y_p-y_t)**2,y_true,y_pred))
loss
# Shows lambda with multiple inputs, common in ML math.

[0.00010000000000000018, 0.0004000000000000007, 0.0625, 0.006400000000000003]

#### 10. Lambda for Threshold-based prediction

In [44]:
probabilities = [0.2,0.6,0.45,0.4,0.75]

predict = lambda x: 1 if x>0.5 else 0
labels = list(map(predict,probabilities))
labels
# Useful in binary classification

[0, 1, 0, 0, 1]

#### 11. Lambda for coustom distance metrics

In [67]:
y_true = [2,8]
y_pred = [5,-3]


distance = lambda x,y: list((a-b)**2 for a,b in zip(x,y))
distance([2,8],[5,-3])
# Used conceptually in KNN or clustering.

[9, 121]